.label {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: var(--el-width);
}

@media screen and (min-width: 674px) {
  .label {
    width: var(--planshet-form-width);
  }
}

@media screen and (min-width: 984px) {
  .label {
    width: var(--desktop-form-width);
  }
}

.input {
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 5px;
  display: block;

  line-height: 1.5;
}

.input:focus {
  outline: none;
  border: 2px solid blue;
}
